<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        img{
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
{% for i in line %}
    <table>
        <tr>
            <td>
                <img src="{{ i.image}}">
            </td>

            <td>
                 {{ i.title }}
            </td>
            <td>
                {{ i.price }}
            </td>
        </tr>
    </table>
{% endfor %}
</body>
</html>